
/document-search/AmplifyUI/.angular/cache
/document-search/AmplifyUI/node_modules/@angular-devkit/architect/node_modules
/document-search/AmplifyUI/node_modules
/image-search/AmplifyUI/.angular
/image-search/AmplifyUI/node_modules
/image-search/Lambda/classifydata/lambdapackage
/image-search/Lambda/vectorsearch/node_modules
