
<amplify-authenticator>
  <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
    <div class="app-container">
      <header class="app-header">
        <h1>Document Search</h1>
        <button mat-icon-button (click)="signOut()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </header>

      <!-- Main content -->
      <main class="app-main">
        <mat-tab-group>
          <!-- Upload Tab -->
          <mat-tab label="Upload">
            <mat-card class="tab-card">
            <!-- Content of Upload -->
            <div class="file-upload-area" [class.upload-complete]="isUploadComplete">
              <!-- Existing Upload Content Here -->
              <div class="category-description">
                Choose the category:
              </div>
              <div class="category-selector" *ngIf="!isUploadComplete">
                <mat-form-field appearance="fill">
                  <mat-label>Category</mat-label>
                  <mat-select [(value)]="selectedCategory">
                    <mat-option value="Financial">Financial</mat-option>
                    <mat-option value="Automotive">Automotive</mat-option>
                    <mat-option value="Climate">Climate</mat-option>
                    <mat-option value="Employment">Employment</mat-option>
                    
                    <!-- Add other categories here -->
                  </mat-select>
                </mat-form-field>
              </div>

              <div *ngIf="!isUploadComplete" 
                  class="file-drop-area" 
                  (dragover)="onDragOver($event)" 
                  (drop)="onDrop($event)"
                  (click)="fileInput.click()"
                  >
                  Drag and drop your file here, or click to select a file.
                  <input type="file" (change)="onFileSelected($event)" hidden #fileInput>
                </div>


              <div *ngIf="isUploadComplete" class="upload-success">
                <mat-icon>check_circle</mat-icon>
                {{ uploadedImageName }} uploaded successfully.
                <mat-icon class="edit-icon" (click)="editDocument()">edit</mat-icon>
              </div>
              <div *ngIf="isLoading" class="loader"> <mat-spinner></mat-spinner></div>
            </div>
          </mat-card>
          </mat-tab>

          <!-- Query Tab -->
          <mat-tab label="Query">
            <!-- Content of Query -->
            <div class="chat-interface">
              <!-- Existing Query Content Here -->
              <div class="category-description">
                Choose the category:
              </div>
              <div class="category-selector">
                <mat-form-field appearance="fill">
                  <mat-label>Category</mat-label>
                  <mat-select [(value)]="selectedCategory">
                    <mat-option value="Financial">Financial</mat-option>
                    <mat-option value="Automotive">Automotive</mat-option>
                    <mat-option value="Climate">Climate</mat-option>
                    <mat-option value="Employment">Employment</mat-option>
                    <!-- Add other categories here -->
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="messages">
                <div *ngFor="let msg of chatMessages" class="message" [ngClass]="{ 'user-message': msg.type === 'question', 'bot-message': msg.type === 'answer' }">
                  <mat-icon *ngIf="msg.type === 'question'" class="user-icon">account_circle</mat-icon>
                  <div class="message-content">{{ msg.text }}</div>
                  <mat-icon *ngIf="msg.type === 'answer'" class="bot-icon">android</mat-icon>
                </div>
              </div>
              <div class="input-area">
                <textarea [(ngModel)]="userQuestion" placeholder="Type your message..." (keydown.enter)="submitQuestionOnEnter($event)"></textarea>
                <button mat-icon-button class="send-button" (click)="submitQuestion()" >
                  <mat-icon>send</mat-icon>
                </button>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </main>

      <footer class="app-footer">
        <p>© 2023 MongoDB Inc</p>
      </footer>
    </div>
  </ng-template>
</amplify-authenticator>
