.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.app-header {
  background-color: #1976d2;
  color: white;
  // padding: 20px;
  text-align: center;
  // font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50rem;
  height : 90px;
}

.sign-out-button {
  margin-right: 10px; /* Adjust as needed */
}

.app-main {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
  position: relative;

  .upload-section {
    .drag-drop-box {
      border: 2px dashed #aaa;
      padding: 20px;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
  }

  .result-card {
    img {
      max-width: 100%;
      border-radius: 4px;
    }
    .item-name {
      text-align: center;
      margin-top: 5px;
    }
  }
}


.uploaded-image-preview {
  margin-top: 15px;
  margin-bottom: 30px; // Added bottom margin for spacing
  text-align: center;

  img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 4px;
  }
}



.search-results {
  .results-header {
    text-align: center;
    margin-bottom: 20px;

    h2 {
      font-size: 1.5em;
    }
  }

  .results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;

    .result-card {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 15px;
      text-align: center;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 4px;
      }

      .item-name {
        margin-top: 10px;
        font-weight: bold;
      }
    }
  }
}
.error-message {
  color: #ff0000; // Red color for error messages
  text-align: center;
  margin-top: 20px;
}

.app-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
}

.category-select {
  width: 100%;
  //max-width: 300px; // Adjust the width as needed
  margin: 20px 0;
  text-align: center;

  .mat-form-field {
    width: 100%;
    font-size: 1rem;

    .mat-select {
      padding: 5px 10px;
      border-radius: 4px;
    }
  }
}