<div class="app-container">
  <header class="app-header">
    <h1>Image Search</h1>
    <!-- <button *ngIf="isAuthenticated" mat-button (click)="signOut()" class="sign-out-button">Sign Out</button> -->
    <button mat-icon-button (click)="signOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </header>

  <main class="app-main">
    <amplify-authenticator>
      <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
        <div class="upload-section">
          <div class="category-select">
            <mat-form-field appearance="fill" >
              <mat-label>Select Category</mat-label>
              <mat-select #categorySelect (selectionChange)="onCategoryChange($event.value)">
                <mat-option *ngFor="let category of categories" [value]="category">
                  {{ category }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          

          <input type="file" #fileInput hidden (change)="onFileSelected($event)" accept="image/*"/>
          <div class="drag-drop-box" cdkDropList (dragover)="onDragOver($event)" (drop)="onDrop($event)" (click)="fileInput.click()">
            <p>Drag and drop your image here, or click to select a file.</p>
          </div>
          <div class="uploaded-image-preview" *ngIf="uploadedImagePreviewUrl">
            <p>Uploaded Image: {{ uploadedImageName }}</p>
            <img [src]="uploadedImagePreviewUrl" alt="Uploaded Image Preview" />
          </div>
        </div>
        
        <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
        <div class="error-message" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <div class="search-results" *ngIf="itemDetails.length > 0">
          <div class="results-header">
            <h2>Search Results</h2>
          </div>
          <div class="results-grid">
            <div class="result-card" *ngFor="let item of itemDetails">
              <img [src]="item.path" alt="{{ item.item_name_in_en_us }}">
              <div class="item-name">{{ item.item_name_in_en_us }}</div>
            </div>
          </div>
        </div>
      </ng-template>
    </amplify-authenticator>
  </main>


  <footer class="app-footer">
    <p>© 2023 MongoDB Inc</p>
  </footer>
</div>
